.fondo{
	background-image: url(../images/lockscreen.png);
	background-size: cover;
	background-repeat: no-repeat;
	height: 100%;
}
span{
	font-size: 150%;
}
.ok{
	margin-left: 33%;
	width: 30%;
	padding: 2%;
}
