.container-fluid{
	padding: 0 !important;
}
.img-m{
	width: 100%;
	height:410px !important;
}
.img-s{
	width:100%;
	height: 50px;
}
h5, span{
	color:#eea236;
}
.bg-gris{
	background-color: #e1e1e1;
}
p{
	color: white;
}